/*font stuff*/
html {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    transform: translate(2%);
}

h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.05em;
}

/*navigation bar*/
nav {
    overflow: hidden;
    padding: 10px 10px;
    /*background-color: #EFEFF0;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

nav a h2 {
    float: left;
    padding: 0px 16px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    vertical-align: middle;
}

.hov a:hover {
    background-color: #EFEFF0;
}
/*Navigation CSS Source:  https://www.w3schools.com/css/css_navbar.asp*/

header {
    padding: 0px 16px;
    max-width: 990px;
    /*background-color: #EFEFF0;*/
}

section {
    padding: 15px 16px;
    /*background-color: #EFEFF0;*/
}

footer {
    position: relative;
    top: 60px;
    padding: 15px 16px;
    font-size: 0.75em;
    max-width: 990px;
}

.contact {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    vertical-align: middle;
}

.contact:hover {
    background-color: #EFEFF0;
}

fieldset {
    position: relative;
    left: 15px;
    padding: 15px 16px;
    max-width: 940px;
    border-width: thin;
    border-color: #BABABA;
}

.f1 {
    top: 15px;
}

.f2 {
    top: 30px;
}

.f3 {
    top: 45px;
}

.submit {
    background-color: white;
    color: black;
    border: none;
    padding: 0px 22px;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    position: relative;
    top: 50px;
    left: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    outline: 0.1px solid #CECECE;
}

p button:focus{
    background-color: #EFEFF0;
}

legend {
    position: relative;
    padding: 0px 5px;
}

label {
    position: relative;
    left: 18px;
}

fieldset div label {
    font-size: 0.8em;
    left: 10px;
}

.shipInput {
    position: relative;
    left: 9px;
}

.regInput {
    position: relative;
    left: 15px;
}

.what {
    min-width: 915px;
    text-align: left;
    max-width:915px;
    max-height:50px;
}

.describe {
    min-width: 915px;
    min-height: 100px;
    text-align: left;
    max-width: 915px;
    max-height: 120px;
}

input:focus{
    outline: 0.1px solid #CECECE;
    background-color: #F7F7F7;
}

textarea {
    border-color: #CECECE;
    font-family: 'Raleway', sans-serif;
}

textarea:focus{
    outline: 0.1px solid #CECECE;
    background-color: #F7F7F7;
}

.error {
  color: red;
}

@media only screen and (max-width: 600px){
    fieldset {
        max-width: -webkit-fill-available;
    }
}

.container {
  position:relative;
  display: block;
  vertical-align: middle;
  padding: 15px 16px;
} 

.closerLook {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 183px 128px;
  opacity:0;
  width: 300;
  background-color: #EFEFF0;
  
}

.instaEmbed {    
    vertical-align: middle;
} 

.list-group-item {
  color:black;
  text-decoration:none
} 

.list-group-item-heading{
  color:blue;
  text-decoration:underline;
}

.galleryDescription{
  max-width: 980px;
  transform: translate(2%);
}

